@charset "utf-8";
.headtop{
    width: 100%;
    position: fixed;
    top:0;
}
.headtop ul {
    list-style-type: none;
       margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.headtop li {
float: left;
display: block;
    
    text-align: center;
    padding: 14px 16px;
    
}	

.headtop li a {
    text-decoration: none;
    color: white;
}

/*鼠标移动到选项上修改背景颜色 */
    .headtop li:hover {
    background-color: #111;
}

.fixDiv{
    position:fixed;
     top:0;
     left:0;
 }