@charset "utf-8";

.Login{
    width:300px;
    height:350px ;
    position: absolute;
    background: #3b3b3b;
    color: white;
    right:0px;
    top: 50px;
    display:none;
}
.click_login{
    width: 200px;
    height: 50px;
    left:50px;
    top:150px;
    position:relative;
    text-align: center;
    line-height: 50px;
}
.username{
    width:100px;
    height:40px;
    left:50px;
    top:1px;
    position: relative;
}
.password{
    width:100px;
    height: 40px;
    left:50px;
    top:41px;
    position: relative;
}
.login_{
    widows: 100px;
    height: 40px;
    left:80px;
    top:81px;
    position: relative;
}
.login{
    position: relative;
    left:5px;
    top:4px;
    width: 90px;
    height: 80%;
    text-align: center;
    line-height: 80%;
}